<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Simple Java Server</display-name>

  <!--This is the file that the server serves up-->
  <welcome-file>index.html</welcome-file>
   
  <servlet>
    <servlet-name>JerseyApplication</servlet-name>

	  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>

      <!--This tells Jersey to look at the Application.java file for the resource config-->
	     <param-name>javax.ws.rs.Application</param-name>
	     <param-value>com.tschnob.simple.java.server.main.Application</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyApplication</servlet-name>

    <!--Any request with /api/ prepending it will be picked up through Jersey-->
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!--Webjars servlet-->
  <servlet>
    <servlet-name>WebjarsServlet</servlet-name>
    <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
      <servlet-name>WebjarsServlet</servlet-name>
      <url-pattern>/webjars/*</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>guice-filter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>guice-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <!--Sets Main.java as the servlet contest listener-->
    <listener-class>com.tschnob.simple.java.server.main.Main</listener-class>
  </listener>

</web-app>
